
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/composer.phar
/.idea/
/app/sessions/
/web/uploads/*
log.log
/web/anexos/
/var/*
app/DoctrineMigrations/*
.web-server-pid
node_modules/
public/
node_modules/

###< symfony/framework-bundle ###

###> PHPStorm ###
/.idea/*
public/.lock
###< PHPStorm ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

